body {
  margin: 0px;
}

#game_grid {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
}





.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}




.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}


.flip {
  transform: rotateY(180deg);
}


.front_face {
  transform: rotateY(180deg);
}

/* Dark Theme (default) */
body.theme-dark {
  background-color: #121212;
  color: #f1f1f1;
}

body.theme-dark .nav-link {
  color: #66b2ff;
}

/* Light Theme */
body.theme-light {
  background-color: #ffffff;
  color: #000000;
}

body.theme-light .nav-link {
  color: #0056b3;
}

.dropdown-item.active {
  background-color: #0d6efd; /* Bootstrap primary */
  color: white;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

